.btn-primary {
  width: 250px;
  height: 50px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 40px;
}

.crudop-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  padding-left: 30px;
}

.crudop-section ul li {
  margin-bottom: 10px;
}

.btn {
  margin-left: 20px;
}
